<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h1 style="margin-top: 45px;">TECHWSITE</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="input-md " placeholder="Search this website">
                <button class="btn btn-secondary" id="button1" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cart-user">
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                </a>
                <button type="button" class="btn btn-secondary" id="button2">
                    <span class="glyphicon glyphicon-user"></span> Log In
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="collapse navbar-collapse">
            <ul class="nav nav-pills navbar-nav navbar-center mynav">
                <li role="presentation" class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li role="presentation" class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="container-fluid con1">
        <img id="firstpic" src="assets/images/picture1.jpg" alt="pic">
    </div>
</div>
