<app-header></app-header>
<div style="text-align: center;" class="container">
    <div class="row" *ngIf="getAdminStatus()">
        <div class="col-md-12">
            <button  class="btn btn-primary btn-sm" (click)="openDialog()" >CRUD</button>
        </div>
    </div>

    <div class="row items-row">
        <app-product-item *ngFor="let productEl of products; let id =index" 
        [product] = "productEl"
        [id] = "id"
        (productDeleted) = "onProductDeleted($event,id)"
        (productUpdated) = "onProductUpdated($event)">
        </app-product-item>
    </div>
</div>
