<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Your Cart</h2>
            <hr>
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cartP of cartProducts; let i = index">
                    <th style="vertical-align: middle;" scope="row">{{i+1}}</th>
                    <td>
                        <img [src]="cartP.imagePath" alt="{{cartP.name}}" class="img-responsive" style="max-height: 120px;">
                    </td>
                    <td style="vertical-align: middle;">
                        {{cartP.name}}
                    </td>
                    <td style="vertical-align: middle;">
                        ${{cartP.price}}
                    </td>
                    <td style="vertical-align: middle;">
                        <button (click)="deleteFromCart(i)" type="button" class="btn btn-danger pull-right">Remove <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>