
        <div class="login-form">
            <form [formGroup] = "signupForm" (ngSubmit)="onSubmit()">
              <div style="position: static;">
                <h2 class="text-center">User CRUD</h2>
                <hr>
             </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" formControlName="username" class="form-control" placeholder="Username" >
                    <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" 
                    class="help-block">Please enter an username!</span>
                    <br>
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                    <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" 
                    class="help-block">Please enter a password!</span>
                    <br>
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="someone@example.com" >
                    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" 
                    class="help-block">Please enter an email!</span>
                    <br>
                    <label>Name</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Full Name" >
                    <span *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched" 
                    class="help-block">Please enter your name!</span>
                    <br>
                    <label>Age</label>
                    <input type="number" formControlName="age" class="form-control" placeholder="" >
                    <span *ngIf="!signupForm.get('age').valid && signupForm.get('age').touched" 
                    class="help-block">Please enter your age!</span>
                    <br>
                    <label>Gender</label>
                    <br>
                    <input type="radio" formControlName="gender" value="male"> Male
                    <br>
                    <input type="radio" formControlName="gender" value="female"> Female
                    <br>
                    <label>Role</label>
                    <input type="number" formControlName="role" class="form-control" placeholder="" >
                    <br>
                    <hr>
                    <button type="submit" class="btn btn-primary">{{ isUpdate ? 'Update User' : 'Add New User' }}</button>
                </div>
            </form>
        </div>
    